@model IEnumerable<lojaJogos.Models.Cliente>

@{
    ViewBag.Title = "Lista de clientes";
}

<h2>Lista de clientes</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Criar cliente", "Create")
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Data de nascimento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
                </p>
             }
            </td>
    </tr>
}

</table>
